{% extends "base.html" %}
{% block additional_head %}
<style>
    th, td {
        text-align: center;
    }
</style>
{% endblock %}
{% block weather %} {{ weather|safe() }} {% endblock %}
{% block subtitle %}
    <strong>테스트셋 {{index}}번 당뇨병 예측 결과</strong>
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-4"></div>
        <div class="col-4">
            <table class="table table-striped table-borderless table-sm">
                {% for i in range(4) %}
                <tr>
                    <td>
                        {{cfs[i]}}
                    </td>
                    <td>
                        {{labels[i]}}
                    </td>
                </tr>
                {% endfor %}
            </table>
        </div>
        <div class="col-4"></div>

        <div class="col-4"></div>
        <div class="col-4">
            ({{index}}번 정보)
            <table class="table table-striped table-borderless table-sm">
                {% for key,val in columns.items() %}
                    <tr>
                        <td>
                            {{key}} :
                        </td>
                        <td>
                            {{val | round(2)}}
                        </td>
                    </tr>
                {% endfor %}
            </table>
            <button class="btn btn-primary float-right"
                                onclick="location.href='/classification/pima'">돌아가기</button>
        </div>
            
        </div>
        
    </div>
{% endblock %}
{% block additional_body %}
{% endblock %}