{% extends "base.html" %}
{% block additional_head %}
    <link rel="stylesheet" href="{{url_for('static', filename='css/jquery-ui.min.css')}}">
    <style>
        th, td {
            text-align: center;
        }
    </style>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.js"></script>
{% endblock %}
{% block weather %} {{ weather|safe() }} {% endblock %}
{% block subtitle %}
    <div class="row md-form active-purple-2 mb-3">
        <div class="col-6">
            <strong>일일 코로나 발생 현황 </strong>
        </div>
        <div class="col-2"></div>
        <div class="col-4">
            <form action="/covid-19/daily" method="POST">
                <table>
                    <td>
                        <input class="form-control" type="text" id="datepicker1" placeholder="ex : 2020-05-05"  name="date">
                    </td>
                    <td>
                        <button type="submit" class="btn btn-primary">검색</button>
                    </td>
                </table>
            </form>
        </div>
    </div>
{% endblock %}
{% block content %}

    
<table class="table table-bordered table-sm">
    <thead>
        <tr>
            <th><small>일자</small></th>
            <th><small>강원</small></th>
            <th><small>경기</small></th>
            <th><small>경남</small></th>
            <th><small>경북</small></th>
            <th><small>광주</small></th>
            <th><small>대구</small></th>
            <th><small>대전</small></th>
            <th><small>부산</small></th>
            <th><small>서울</small> </th>
            <th><small>세종</small></th>
            <th><small>울산</small></th>
            <th><small>인천</small></th>
            <th><small>전남</small></th>
            <th><small>전북</small></th>
            <th><small>제주</small></th>
            <th><small>충남</small></th>
            <th><small>충북</small></th>
            <th><small>합계</small></th>
        </tr>
    </thead>
    {% for row in rows %}
    <tr>
        {% for k in range(19) %}
            <td>{{row[k]}}</td>
        {% endfor %}
    </tr>
    {% endfor %}
</table>
<canvas id="day" class="chartjs" width="347" height="173" style="display: block; width: 347px; height: 173px;"></canvas>
        
    
{% endblock %}
{% block additional_body %}
<script src="{{url_for('static', filename='js/jquery-ui.min.js')}}"></script>
<script>
    $.datepicker.setDefaults({
        dateFormat: 'yy-mm-dd',
        prevText: '이전 달',
        nextText: '다음 달',
        monthNames: ['1월', '2월', '3월', '4월', '5월', '6월', '7월', '8월', '9월', '10월', '11월', '12월'],
        monthNamesShort: ['1월', '2월', '3월', '4월', '5월', '6월', '7월', '8월', '9월', '10월', '11월', '12월'],
        dayNames: ['일', '월', '화', '수', '목', '금', '토'],
        dayNamesShort: ['일', '월', '화', '수', '목', '금', '토'],
        dayNamesMin: ['일', '월', '화', '수', '목', '금', '토'],
        showMonthAfterYear: true,
        yearSuffix: '년'
    });
    $(function() {
        $("#datepicker1").datepicker();
    });

    // $('#submit').on('click', function(e) {
    //     e.preventDefault();

    //     date = $('#datepicker1').val(); 
    //     endpoint = '/covid/bigcity?date=' + date;

    //     window.location.href = endpoint

    //     return false;
    // });
</script>
<script>
    var ctx = document.getElementById('day').getContext('2d');
    new Chart(document.getElementById("day"),
    {"type":"line","data":{"labels":["{{rows[6][0]}}","{{rows[5][0]}}","{{rows[4][0]}}","{{rows[3][0]}}","{{rows[2][0]}}","{{rows[1][0]}}","{{rows[0][0]}}"],
    "datasets":[{"label":"대한민국 코로나 확진자 변화","data":[
        {{rows[6][-1]}},{{rows[5][-1]}},{{rows[4][-1]}},{{rows[3][-1]}},{{rows[2][-1]}},{{rows[1][-1]}},{{rows[0][-1]}}
    ],"fill":false,"borderColor":"rgb(75, 192, 192)","lineTension":0.1}]},"options":{}});
</script>
{% endblock %}