{% extends "base.html" %}
{% block additional_head %}
    <link rel="stylesheet" href="{{url_for('static', filename='css/jquery-ui.min.css')}}">
    <style>
        th, td {
            text-align: center;
        }
    </style>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.js"></script>
{% endblock %}
{% block weather %} {{ weather|safe() }} {% endblock %}
{% block subtitle %}
<strong>서울 {{gu}} 코로나 확진자 현황</strong> <small></small>
{% endblock %}
{% block content %}
<div class="row">
    <div class="col-8">
        <canvas id="seoul" class="chartjs" ></canvas>
        <canvas id="ten_day" class="chartjs"></canvas>
    </div>
    <div class="col-4">
        <table class="table-bordered table-sm">
            <tr>
                <td><small>접촉력</small></td>

                <td><small>확진자 </small></td>
            </tr>
            {% for i in range(10)%}
            <tr>
                <td>
                    <small>{{his_name[i]}}</small>
                </td>
                <td>
                    <small>{{his_count[i]}}</small>
                </td>
            </tr>
            {% endfor %}
        </table>
        <br>
        <button class="btn btn-primary btn"
                                onclick="location.href='/covid-19/seoul'">돌아가기</button>                                   
                

    </div>
    
</div>
{% endblock %}

{% block additional_body %}
<script>
    var ctx = document.getElementById('seoul').getContext('2d');
    new Chart(document.getElementById("seoul"),
    {"type":"line","data":{"labels":
        {{month | safe()}}
    ,
    "datasets":[{"label":"서울 {{gu}} 월별 코로나 확진자","data":
        {{count}}
    ,"fill":false,"borderColor":"skyblue","lineTension":0.1}]},"options":{}});
    var ctx = document.getElementById('ten_day').getContext('2d');
    new Chart(document.getElementById("ten_day"),
    {"type":"line","data":{"labels":
        {{ten_date | safe()}}
    ,
    "datasets":[{"label":"최근 10일간 {{gu}} 일일 코로나 확진자","data":
        {{ten_val}}
    ,"fill":false,"borderColor":"orangered","lineTension":0.1}]},"options":{}});
</script>
<!-- responsive: false -->
{% endblock %}