{% extends "base.html" %}
{% block weather %} {{ weather|safe() }} {% endblock %}
{% block subtitle %}
    <strong>외국어 언어 감지, 분석 </strong><small>- AI</small>
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-2"></div>
        <div class="col-8">
            <form action="/ai/emotion" method="POST" enctype="multipart/form-data">
                <table class="table table-borderless">
                    <tr>
                        <td>
                            <label class="form-check-label">
                                텍스트
                            </label>
                        </td>
                        <td>
                            <textarea name="test" id="test" cols="60" rows="5"></textarea>
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td colspan="2" style="text-align: center;">
                            <button type="submit" class="btn btn-primary">실행</button>&nbsp;&nbsp;&nbsp;
                            <button type="reset" class="btn btn-secondary">취소</button>
                        </td>
                    </tr>
                </table>		
            </form>
        </div>
        <div class="col-2"></div>
    </div>
{% endblock %}
{% block additional_body %}
{% endblock %}