{% extends "base.html" %}
{% block weather %} {{ weather|safe() }} {% endblock %}
{% block subtitle %}
    <strong>음성합성 결과 </strong><small>- AI</small>
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-2"></div>
        <div class="col-8">
            <form action="/ai/translation" method="POST" enctype="multipart/form-data">
                <table class="table table-border">
                    <tr>
                        <td>
                            텍스트
                        </td>
                        <td>
                            {{ans[0]}}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            목소리
                        </td>
                        <td>
                            {{ans[1]}}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            속도
                        </td>
                        <td>
                            {{ans[2]}}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            피쳐
                        </td>
                        <td>
                            {{ans[3]}}
                        </td>
                    </tr>
                    <tr><td><td></td></td></tr>
                </table>
                <div onclick="play()">
                    <button type="button" class="btn btn-light">재생</button>
                </div>		
            </form>
            <button class="btn btn-primary float-right"
                        onclick="location.href='/ai/voice'">돌아가기</button>
        </div>
        <div class="col-2"></div>
    </div>
{% endblock %}
{% block additional_body %}
<audio id='audio_play' src="{{url_for('static', filename='voice/voice.mp3', q=mtime)}}"></audio> 
<script type="text/javascript"> 
function play() { 
    var audio = document.getElementById('audio_play'); 
    if (audio.paused) { 
        audio.play(); 
    }else{ 
        audio.pause(); 
        audio.currentTime = 0 
    } 
} 
</script>
{% endblock %}