{% extends "base.html" %}
{% block weather %} {{ weather|safe() }} {% endblock %}
{% block subtitle %}
<strong>서울 5대 범죄 비교</strong> <small>- {{option_dict[option]}}</small>
{% endblock %}
{% block content %}
    <div class="row">
        <div class = "embed-responsive embed-responsive-16by9">
            <iframe class = "embed-responsive-item" 
            src = "{{url_for('static', filename='img/crime.html', q=mtime)}}"></iframe>
        </div>
    </div>
    <table class="table-borderless">
        <tr>
            <td>
                <button class="btn btn-success mt-3" onclick="location.href='/seoul/crime/crime'">범죄</button>
            </td>
            <td>
                <button class="btn btn-success mt-3" onclick="location.href='/seoul/crime/rape'">강간</button>
            </td>
            <td>
                <button class="btn btn-success ml-3 mt-3" onclick="location.href='/seoul/crime/rob'">강도</button>
            </td>
            <td>
                <button class="btn btn-success ml-3 mt-3" onclick="location.href='/seoul/crime/murder'">살인</button>
            </td>
            <td>
                <button class="btn btn-success ml-3 mt-3" onclick="location.href='/seoul/crime/thief'">절도</button>
            </td>
            <td>
                <button class="btn btn-success ml-3 mt-3" onclick="location.href='/seoul/crime/gang'">폭력</button>
            </td>
        </tr>
        <tr>
            <td>
                <button class="btn btn-danger mt-3" onclick="location.href='/seoul/crime/crime_arrest'">범죄 검거율</button>
            </td>
            <td>
                <button class="btn btn-danger mt-3" onclick="location.href='/seoul/crime/rape_arrest'">강간 검거율</button>
            </td>
            <td>
                <button class="btn btn-danger ml-3 mt-3" onclick="location.href='/seoul/crime/rob_arrest'">강도 검거율</button>
            </td>
            <td>
                <button class="btn btn-danger ml-3 mt-3" onclick="location.href='/seoul/crime/murder_arrest'">살인 검거율</button>
            </td>
            <td>
                <button class="btn btn-danger ml-3 mt-3" onclick="location.href='/seoul/crime/thief_arrest'">절도 검거율</button>
            </td>
            <td>
                <button class="btn btn-danger ml-3 mt-3" onclick="location.href='/seoul/crime/thief_arrest'">폭력 검거율</button>
            </td>
        </tr>
    </table>
{% endblock %}